<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css/bootstrap.min.css}" />

<style> 
  body {
        font-family: "Lucida Console", "Courier New", monospace;
        text-align: center;
        padding-top: 17%;
        width: 80%;
        margin: auto;
    }
    th {
    padding: 40px;}
    
    h1 {
    margin-bottom: 50px;
    font-size: 60px;
    }
    
    table {
    margin-top: 30px;
    }
    
    input {
    margin-top: 15px;
    width: 115px;
    height: 50px;
    }
    
    </style>
</head>
<body>
	<h1>Books</h1>
		<div>
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
		</div>
		<div th:if="${param.error}">
			 Invalid username and password.
		</div>
			<form th:action="@{/logout}" method="post" id="moi">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-warning"/>
			</form>
		<table class="table table-bordered" >
		<tbody>
			<tr>
				<th>Book title</th>
				<th>Author</th>
				<th>Release year</th>
				<th>ISBN</th>
				<th>Price</th>
				<td><a href="/add" class="btn btn-success"> Lisää kirja</a></td>
			</tr>
			<tr th:each="book :${books}">
				<td th:text="${book.title}">title</td>
				<td th:text="${book.author}">author</td>
				<td th:text="${book.year}">year</td>
				<td th:text="${book.isbn}">ISBN</td>
				<td th:text="${book.price}">price</td>
				<td th:text="${book.category.name}">category</td>
				<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
				<td><a class="btn btn-info" th:href="@{/update/{id}(id=${book.id})}">Update</a></td> 
			</tr>
		</tbody>
	</table>
</body>
</html>