<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style> 
    body {
        font-family: "Lucida Console", "Courier New", monospace;
        text-align: center;
        padding-top: 15%;
        margin-left: 325px;
    }
    
    h1{
    margin-right: 325px;
    }
    
    th {
    padding: 50px;
    }
    </style>
</head>
<body>
	<h1>Books</h1>
	<table>
		<tr>
			<th>Book title</th>
			<th>Author</th>
			<th>Release year</th>
			<th>ISBN</th>
			<th>Price</th>
		</tr>

		<tr th:each="book :${books}">
			<td th:text="${book.title}">title</td>
			<td th:text="${book.author}">author</td>
			<td th:text="${book.year}">year</td>
			<td th:text="${book.isbn}">ISBN</td>
			<td th:text="${book.price}">price</td>
		</tr>
	</table>
</body>
</html>